/* section {
  z-index: -1;
}

div.mixcloud-home {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.home-contianer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 60vh;
  margin: 5px;
}

div.container-book-now {
  margin: 0;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

button.book-now {
  font-size: medium;
}

@media screen and (max-width: 550px) {
  div.mixcloud-home {
    width: 100%;
  }

  div.container-book-now {
    padding-top: 10rem;
  }
} */
