section {
  z-index: -1;
}

div.mixcloud-home {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.home-contianer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-image: url('https://images.unsplash.com/photo-1675278182233-52a1496c87f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  margin: 5px;
}

div.container-book-now {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

button.book-now {
  font-size: medium;
  padding-bottom: 10px;
}


@media screen and (max-width: 420px) {
  .home-contianer {
    height: 65vh;
    margin: 5px;
  }
}

@media screen and (max-width: 550px) {
  div.mixcloud-home {
    width: 100%;
  }

  div.container-book-now {
    padding-top: 10rem;
  }
}
