header#navbar-header {
  background-color: rgba(0, 0, 0, 0.418);
  position: relative;
  z-index: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

ul.nav__links {
  background-color: rgba(0, 0, 0, 0);
}
.logo {
  cursor: pointer;
  font-size: xx-large;
  font-weight: 700;
  margin-right: auto;
}

a {
  color: white;
  margin: 0px;
  padding: 8px;
  font-size: larger;
}

.nav__links li {
  display: inline-block;
  padding: 0px 15px;
}

.nav__links li a {
  transition: all 0.5s ease 0s;
}

.nav__links li a:hover {
  color: gray;
}

@media screen and (max-width: 995px) {
  h2.logo {
    align-items: center;
    margin: auto;
    padding: 0;
  }

  ul.nav__links {
    align-items: baseline;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0;
  }
}

@media screen and (max-width: 800px) {
  header#navbar-header {
    display: flex;
    flex-direction: column;
  }

  h2.logo {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 420px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  a {
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: larger;
  }
}

@media screen and (max-width: 360px) {
  header {
    /* border: rgb(0, 221, 255) dotted 3px; */
    font-size: small;
  }
  a {
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: larger;
  }
}