/* Social media icons  */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

div.footer__socials {
  display: flex;
  justify-content: center;
  padding: 5% 0 2%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  color: rgb(29, 29, 29);
  position: relative;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  color:whitesmoke;
}
/* GLOBAL SETTINGS FOR ALL PAGES IN LANDSCAPE MODE */
@media (orientation: landscape) {
  header#navbar-header {
    background-color: rgba(0, 0, 0, 0.418);
    margin: 0px;
    padding: 20px;
  }
/* 
  .twitch-player div {
    z-index: 1;
  }

  div.soundcloud-player div {
    margin-top: 0vh;
  } */

  div.mixcloud-player div {
    margin-top: 0px;
  }

  .footer__socials {
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 0% 0 2%;
    bottom: 12px;
  }
}
