* {
  font-family: 'Teko', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Teko Bold'), local('Teko-Bold'),
    url(https://fonts.gstatic.com/s/teko/v10/LYjCdG7kmE0gdRhYsCRgqHAtXN8.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#root .App {
  height: fit-content
}

body {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0;
}

.App {
  font-family: 'Teko', sans-serif;
}

li {
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  text-align: center;
}

button {
  padding: 9px 25px;
  background-color: whitesmoke;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(245, 245, 245, 0.8);
}